body {
    background: #051D3B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
}

::placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF;
    opacity: 64%;
}

header {
    padding: 32px;
    width: 95%;
    margin: 0 auto;
}

input {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.input-busca {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    width: 752px;
    border: 0;
    color: #FFFFFF;
    padding: 16px 14px;
}

.img-logo {
    margin: 12px 0;
}

.author {
    display: flex;
    align-items: center;
}

.img-author {
    margin: 0 8px ;
}

main {
    padding: 32px;
}

.menu-titulo {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 12px;
    line-height: 18px;
}

.menu-lista {
    display: flex;
    flex-direction: column;
}

.menu-item a{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: Inter;
    opacity: 56%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
}

.menu-item img {
    margin: 8px 16px;
    margin-left: 0;
}

